<h3>New Course Delivery</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', course_delivery: @course_delivery %>
        </div>

        <div class="panel-footer">
		<%= link_to 'Back', course_deliveries_path, class:"btn btn-xs btn-default"%>
        </div>
</div>
