<h3>Editing Path</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', path: @path %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', paths_path, class:"btn btn-xs btn-default margin-right color-white" %>
		<%= link_to 'Show', @path, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
