<h3>New Path</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', path: @path %>
        </div>

        <div class="panel-footer">
		<%= link_to 'Back', paths_path, class:"btn btn-xs btn-default"%>
        </div>
</div>
