<h3>Editing Prereq</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', prereq: @prereq %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', prereqs_path, class:"btn btn-xs btn-default margin-right" %>
		<%= link_to 'Show', @prereq, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
