<h3>Editing Degree</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', degree: @degree %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', degrees_path, class:"btn btn-xs btn-default margin-right" %>
		<%= link_to 'Show', @degree, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
