node_modules
.c9
.DS_Store
Thumbs.db

# C/C++
*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.exe
*.out
install_manifest.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Python
*.py[cod]
.installed.cfg
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml

# Ruby
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
**.orig
rerun.txt
pickle-email-*.html
*.gem
.bundle
.config
InstalledFiles
spec/reports
test/tmp
test/version_tmp
.yardoc
_yardoc
Gemfile.lock

tmp
~/workspace/website/db/development.sqlite3
~/workspace/website/log/development.log
*.swp
.tmux.conf
.vim/
.vimrc
website/.idea
.idea/
website/log/development.log
development.sqlite3