<h3>Editing Completed Course</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', completed_course: @completed_course %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', completed_courses_path, class:"btn btn-xs btn-default margin-right color-white" %>
		<%= link_to 'Show', @completed_course, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
