<h3>Editing Path Course</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', path_course: @path_course %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', path_courses_path, class:"btn btn-xs btn-default margin-right color-white" %>
		<%= link_to 'Show', @path_course, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
