<h3>Editing Course Frequency</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', course_frequency: @course_frequency %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', course_frequencies_path, class:"btn btn-xs btn-default margin-right" %>
		<%= link_to 'Show', @course_frequency, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
