<h3>Editing Course Term</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', course_term: @course_term %>
        </div>
        <div class="panel-footer">

		<%= link_to 'Back', course_terms_path, class:"btn btn-xs btn-default margin-right color-white" %>
		<%= link_to 'Show', @course_term, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>
