
<div class = "container">
  <div class="page-header">
    <h1>Admin Dashboard</h1>
  </div>
  
  <div class="flex-row row" id="admincards"> <!-- Start row 1 -->
      <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card">
              <div class="card-content">
                  <h4 class="card-title">Student/Faculty Lists and Views</h4>
                      <p class="aboutText">
                          All faculty and student account information. Can view certain students and faculty here as well.
                      </p>
                      <div class="access">
                          <%= link_to "Users", users_path, :class => "btn btn-primary color-white" %>
                      </div>
              </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card">
              <div class="card-content">
                  <h4 class="card-title">Pull Courses</h4>
                      <p class="aboutText">
                          Pull the scraped course data.
                      </p>
                      <div class="access">
                          <%= link_to 'Pull', pull_path, :class => "btn btn-primary color-white", style: "margin-right:2%", method: :post %>
                      </div>
              </div>
          </div>
      </div>
      
      <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="card">
              <div class="card-content">
                  <h4 class="card-title">Creat Data Reports</h4>
                      <p class="aboutText">
                          Create csv report files.
                      </p>
                      <div class="access">
                          <%= link_to "CSV Export", users_path(format: "csv"), :class => "btn btn-primary color-white", style: "margin-right:2%"%>
                      </div>
              </div>
          </div>
      </div>
  </div> <!-- End row 1-->
</div>
