<h3>Editing User</h3>
<% provide(:button_text, 'Save changes') %>
<div class="panel panel-default">
  <div class="panel-body">
	  <%= render 'editform', user: @user %>
  </div>
  <div class="panel-footer">
	  <%= link_to 'Show', @user, class:"btn btn-xs btn-primary color-white"%>
	</div>
</div>

