<div class="page-header" style="height:auto;padding:.12%;text-indent:2%">
<h1>New User</h1>
</div>
<% provide(:button_text, 'Create my account') %>
<div class="panel">
        <div class="panel-body">
                <%= render 'form', user: @user %>
        </div>
        <div class="panel-footer">
                <%= link_to 'Back', users_path, class:"btn btn-xs btn-default color-white"%>
        </div>
</div>
