<div class="page-header">
  <h1>Faculty Dashboard</h1>
</div>

<div class="margin-vertical">
  <ol style="list-style-type:none">
    <% @users.each do |user| %>
      <% if user.student? %>
        <div class="margin-vertical">
          <li value=<%= user.id %>><%= link_to "View", edit_user_path(user), class:"btn btn-xs btn-default color-white" %> <%= user.first %> <%= user.last %></li
        </div>
      <% end %>
    <% end %>
  </ol>
</div>

