<h3>New Degree Req</h3>

<div class="panel panel-default">
        <div class="panel-body">
		<%= render 'form', degree_req: @degree_req %>
        </div>

        <div class="panel-footer">
		<%= link_to 'Back', degree_reqs_path, class:"btn btn-xs btn-default"%>
        </div>
</div>
