<p id="notice"><%= notice %></p>

<div class="panel panel-default">
        <div class="panel-body">
					<div class="margin-vertical">
			  <strong>Course:</strong>
			  <%= @degree_req.course_id %>
			</div>
		        </div>

        <div class="panel-footer">
		<%= link_to 'Back', degree_reqs_path, class:"btn btn-xs btn-default margin-right" %>
		<%= link_to 'Edit', edit_degree_req_path(@degree_req), class:"btn btn-xs btn-warning color-white" %>
	</div>
</div>
